<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pplong.fileserver.mapper.FileMapper">
    <select id="queryAllFiles" resultType="SingleFile">
        select * from SingleFile
    </select>

    <select id="queryTotalCount" resultType="int">
        select count(1) from SingleFile
    </select>

    <select id="queryTotalSize" resultType="long">
        select sum(size) from SingleFile
    </select>

    <insert id="insertSingleFileRec" parameterType="SingleFile">
        insert into SingleFile values (#{name}, #{originName}, #{size}, #{time})
    </insert>

    <delete id="deleteSingleFile">
        delete from SingleFile where name = #{name}
    </delete>

</mapper>