table {
    width: 90%;
    margin: 10px auto;
    background: rgba(204, 204, 204, 0.45);
    border-collapse: collapse;
}
th,td {
    height: 60px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #222514;
}
th {
    background: rgba(91, 105, 55, 0.47);
    font-weight: normal;
}
td a:hover {
    color: #06f;
    text-decoration: underline;

}
